.button{
    -fx-background-color: transparent;
}

#pauseButton{
    -fx-background-image: url("../Presentation/Resources/pauseButton.png");
    -fx-background-size: 40 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#playlistFile{
    -fx-background-image: url('../Presentation/Resources/playlistButton.png');
    -fx-background-size: 40 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#stopButton{
    -fx-background-image: url("../Presentation/Resources/stopButton.png");
    -fx-background-size: 40 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#playButton{
    -fx-background-image: url("../Presentation/Resources/playButton.png");
    -fx-background-size: 40 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
